.heading-text {
    h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        font-family: "Poppins", sans-serif;
        text-align: start;

        color: #151515;
    }
}